<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheResultFile="build/.phpunit.result.cache"
         bootstrap="Tests/bootstrap.php"
>

    <testsuites>
        <testsuite name="KachkaevAssetsVersionBundle Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>

    <coverage processUncoveredFiles="true">
        <include>
            <file>AssetsVersionManager.php</file>
        </include>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/logs/html"/>
        </report>
    </coverage>

</phpunit>
